/* General settings */

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header: #0084FD;
    --background-color: #9792E4;
    --card-firstsec: #B5DDFF;
}

html{
    font-family: sans-serif;
}

/* Nav-bar */

header{
    background-color: var(--header);
}

.nav-bar{
    max-width: 1100px;
    margin: auto;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-menu .logo{
    padding-left: 0.5rem;
}

.logo img{
    width: 100px;
}

.items{
    display: flex;
}

.items a{
    padding-right: 1rem;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: white;
}

.nav-menu .btn a{
    color: black;
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 4rem;
}

.hamburger-bar a{
    display: none;
    padding-right: 0.5rem;
}

/* media-queries Nav-bar */

@media screen and (max-width:810px){

    header{
        max-width: 100%;
    }

    .nav-bar{
        max-width: 100%;
        margin: auto;
    }

    .items a{
        display: none;
    }    

    .hamburger-bar a{
        display: block;
    }
}

@media screen and (max-width:375px){

    header{
        max-width: 100%;
    }

    .nav-bar{
        max-width: 100%;
        margin: auto;
    }

    .items a{
        display: none;
    } 
    
    .hamburger-bar a{
        display: block;
    }
}


/* Inizio Main - Prima sezione-card */

.container{
    max-width: 1100px;
    margin-inline: auto;
    margin-top: 2rem;
}

.card-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-double{
    flex: 0 0 60%;
    display: flex;
    border-radius: 2rem;
    background-color: var(--card-firstsec);
}

.card{
    flex: 0 0 calc((100% - (1rem * 2)) / 3);
    background-color: var(--card-firstsec);
    border-radius: 2rem;
}

.card-double .content{
    flex: 0 0 60%;
    padding: 2rem 1rem;
}

.img-phone{
    flex: 0 0 40%;
    padding-top: 4rem;
}

.content h4{
    color: var(--header);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.btn-blue{
    margin-top: 2rem;
}

.btn-blue a{
    padding: 0.3rem 0.5rem;
    color: white;
    text-decoration: none;
    background-color: var(--header);
    border-radius: 1rem ;
}

img{
    width: 200px;
}

.card .icon{
    color: var(--header);
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.card h4, 
.card p{
    text-align: center;
    font-size: 0.8rem;
    padding: 0.6rem 2rem;
}

/* main- section bg-color violet*/

.bg-color{
    background-color: var(--background-color);
}

.box-both{
    display: flex;
}

.left img{
    width: 300px;
    margin-left: 3rem;
}

.right img{
    width: 200px;
    margin-left: 3rem; 
}

.box-both .left{
    flex: 0 0 40%;
    padding: 2rem 4rem;
}

.left h4{
    color: white;
    text-align: center;
    padding-top: 5rem;
}

.left p{
    color: white;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-top: 3rem;
}

.box-both .right{
    flex: 0 0 30%;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
} 

.right h4{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.right p{
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.btn-arrow{
    text-align: center;
    margin-top: 2rem;
}

.btn-arrow a{
    background-color: var(--background-color);
    padding: 0.5rem 0.8rem;
    border-radius: 4rem;
}

/* Main- section Testimonials*/

.contents div{
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 0.8rem;
}

.contents h2{
    text-align: center;
    margin-bottom: 0.8rem;
    color: var(--background-color);
}

.contents p{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
} 

.card-photo{
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.card-photo .photo img{
    min-width: 0;
    width: 150px;
    height: 150px;
    border-radius: 250px;
    object-fit: cover;
    overflow: hidden;
}

.card-photo .photo{
    flex: 0 0 30%;
}

.card-photo .text{
    flex: 0 0 60%;
    color: white;
}

.card-photo .text div{
    margin-top: 1rem;
    font-size: 0.9rem;
}

/* section- cards benefits*/

.benefits{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.benefits .cards{
    flex: 0 0 calc((100% - (2rem * 2)) / 3 );
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.benefits h2{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.cards .number{
    color: var(--background-color);
    font-size: 3rem;
    font-weight: 500;
}

.cards .features{
    color: var(--background-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.cards p{
    font-size: 0.8rem;
    line-height: 2rem;
}

.btn-violet{
    margin: 1.5rem 0;
}

.cards .btn-violet a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: var(--background-color);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;

}